#carouselExampleIndicators ol li {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #00BFFF;
  margin-bottom: 10%;
}

.carousel-item h3 , h5{
  font-family: 'Cinzel Decorative', cursive;
  text-align: center;
  display: grid;

}

#carouselExampleIndicators ol .active {
  border-top: 20px solid #800000;
}

.blocks {
  display: grid;
  padding: 25px;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: auto;
  justify-items: center;
}
.content {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}


.board {
  display: grid;
  padding: 25px;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: auto;
  justify-items: center;
}

.top-image {
  width: 250px;
  height: 260px;
  border: 1px double #000;
  border-radius: 5px;
}
.grid-item {
  align-items: center;
}

#grid-img {
  width: 300px;

}

#carousel-img {
  display: block;
  margin:center;
  width: inherit;
  height:inherit;
  align-items: center;
}

#grid-img:hover {
  transform: scale(1.1);
}

.MyGrid {
  display: grid;
  padding: 15px;
  grid-gap: 5px;
  grid-row-gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
}

#Btext {
  font-family: 'Cinzel Decorative', cursive;
  text-align: center;
  color:black;
  margin-top: 10px;
}

#footer{
  font-family: 'Cinzel Decorative', cursive;
 background-color:#070719;
 text-align: center;
 color:#CEF6F5;

}


#carouselExampleControls {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: auto;
  align-items: center;
}
